CREATE DATABASE QLDiemHSTHPT
USE QLDiemHSTHPT

------------Loại Người dùng --------------------
CREATE TABLE LOAINGUOIDUNG
(
	MaLoaiND	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenLoaiND	NVARCHAR(30)	NOT NULL
)

INSERT INTO LOAINGUOIDUNG VALUES('LND001','Ban Giam Hieu')
INSERT INTO LOAINGUOIDUNG VALUES('LND002','Giao Vien')
INSERT INTO LOAINGUOIDUNG VALUES('LND003','Giao Vu')

---------------------Người dùng---------------------
CREATE TABLE  NGUOIDUNG
(
	MaND 		VARCHAR (6) 	NOT NULL	PRIMARY KEY,
	MaLoaiND	VARCHAR (6)		NOT NULL,
	TenND		NVARCHAR (30)	NOT NULL,
	TenDangNhap	VARCHAR (20)	NOT NULL,
	MatKhau		VARCHAR (30)	NOT NULL,
	
	CONSTRAINT F_ND_LND FOREIGN KEY(MaLoaiND) 	REFERENCES LOAINGUOIDUNG(MaLoaiND)
)

INSERT INTO NGUOIDUNG VALUES('ND0001','LND001','Ban Giam Hieu',	'admin',	'admin')
INSERT INTO NGUOIDUNG VALUES('ND0002','LND002','Giao Vien',		'user',		'user')
INSERT INTO NGUOIDUNG VALUES('ND0003','LND003','Giao Vu',		'giaovu',	'user')

--------------------------------Dân Tộc----------------------------
CREATE TABLE DANTOC
(
	MaDanToc	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenDanToc	NVARCHAR (30)	NOT NULL
)

INSERT INTO DANTOC VALUES('DT0001','Kinh')
INSERT INTO DANTOC VALUES('DT0002','Hoa')
INSERT INTO DANTOC VALUES('DT0003','Khome')

--------------------------------Tôn Giáo--------------------------
CREATE TABLE TONGIAO
(
	MaTonGiao	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenTonGiao	NVARCHAR (30)	NOT NULL
)

INSERT INTO TONGIAO VALUES('TG0001','Phat')
INSERT INTO TONGIAO VALUES('TG0002','Hoa Hao')
INSERT INTO TONGIAO VALUES('TG0003','Thien Chua')

----------------------------Năm Học---------------------
CREATE TABLE NAMHOC
(
	MaNamHoc	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenNamHoc	NVARCHAR (30)	NOT NULL
)

INSERT INTO NAMHOC VALUES('NH0607','2006 - 2007')
INSERT INTO NAMHOC VALUES('NH0708','2007 - 2008')
INSERT INTO NAMHOC VALUES('NH0809','2008 - 2009')

--------------------------------Học Kỳ----------------------
CREATE TABLE HOCKY
(
	MaHocKy		VARCHAR (3)		NOT NULL	PRIMARY KEY,
	TenHocKy	NVARCHAR (30)	NOT NULL,
	HeSo		INT
)

INSERT INTO HOCKY VALUES('HK1','Hoc ky 1', 1)
INSERT INTO HOCKY VALUES('HK2','Hoc ky 2', 2)

-----------------------------------Khối Lớp--------------------------
CREATE TABLE KHOILOP
(
	MaKhoiLop	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenKhoiLop	NVARCHAR (30)	NOT NULL
)

INSERT INTO KHOILOP VALUES('K10','Khoi 10')
INSERT INTO KHOILOP VALUES('K11','Khoi 11')
INSERT INTO KHOILOP VALUES('K12','Khoi 12')

---------------------------Môn Học---------------------------
CREATE TABLE MONHOC
(
	MaMonHoc	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenMonHoc	NVARCHAR (30)	NOT NULL,
	SoTiet		INT				NOT NULL,
	HeSo		INT				NOT NULL
)

INSERT INTO MONHOC VALUES('MH0001','Toan',		    90,	2)
INSERT INTO MONHOC VALUES('MH0002','Vat Ly',		60,	1)
INSERT INTO MONHOC VALUES('MH0003','Hoa Hoc',		60,	1)

-------------------------------Học Lực-----------------------
CREATE TABLE HOCLUC
(
	MaHocLuc		VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenHocLuc		NVARCHAR (30)	NOT NULL,
	DiemCanDuoi		FLOAT			NOT NULL,
	DiemCanTren		FLOAT			NOT NULL,
	DiemKhongChe	FLOAT			NOT NULL
)

INSERT INTO HOCLUC VALUES('HL0001','Gioi',		8.0,	10.0,	6.5)
INSERT INTO HOCLUC VALUES('HL0002','Kha',		6.5,	7.9,	5.0)
INSERT INTO HOCLUC VALUES('HL0003','Trung binh',5.0,	6.4,	3.5)

---------------------------------Hanh Kiem-------------------
CREATE TABLE HANHKIEM
(
	MaHanhKiem		VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenHanhKiem		NVARCHAR (30)	NOT NULL
)

INSERT INTO HANHKIEM VALUES('HK0001','Tot')
INSERT INTO HANHKIEM VALUES('HK0002','Kha')
INSERT INTO HANHKIEM VALUES('HK0003','Trung binh')

-------------------------------Ket qua-----------------------
CREATE TABLE KETQUA
(
	MaKetQua	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenKetQua	NVARCHAR (30)	NOT NULL
)

INSERT INTO KETQUA VALUES('KQ0001','Len lop')
INSERT INTO KETQUA VALUES('KQ0002','Luu bang')
INSERT INTO KETQUA VALUES('KQ0003','Thi lai')

---------------------Nghe nghiep------------------------
CREATE TABLE NGHENGHIEP
(
	MaNgheNghiep		VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenNgheNghiep		NVARCHAR (30)	NOT NULL
)

INSERT INTO NGHENGHIEP VALUES('NN0001','Noi tro')
INSERT INTO NGHENGHIEP VALUES('NN0002','Giao vien')
INSERT INTO NGHENGHIEP VALUES('NN0003','Cong nhan')

---------------------------Giao vien----------------------
CREATE TABLE GIAOVIEN
(
	MaGiaoVien	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenGiaoVien NVARCHAR (30)	NOT NULL,
	DiaChi		NVARCHAR (50)	NOT NULL,
	DienThoai	VARCHAR (15)	NOT NULL,
	MaMonHoc	VARCHAR (6)		NOT NULL,
	Gioitinh	BIT,
	
	
	CONSTRAINT F_GV_MH FOREIGN KEY(MaMonHoc)	REFERENCES MONHOC(MaMonHoc)
)

INSERT INTO GIAOVIEN VALUES('GV0001','Chung Long Ho',	'Tan An - Tan Chau - An Giang',	'0901000111','MH0001','0')
INSERT INTO GIAOVIEN VALUES('GV0002','Ho Thi Ngoc Phuong',		'Tan Chau - An Giang',	'0902111222','MH0002','1')
INSERT INTO GIAOVIEN VALUES('GV0003','Nguyễn Hòa Bình',		'Tan Chau - An Giang',	 	'0902111222','MH0003','3')

----------------------------------------Học Sinh---------------------------
CREATE TABLE HOCSINH
(
	MaHocSinh		VARCHAR (6)		NOT NULL	PRIMARY KEY,
	HoTen			NVARCHAR (30)	NOT NULL,
	GioiTinh		BIT,
	NgaySinh		DATETIME,
	NoiSinh			NVARCHAR (50)	NOT NULL,
	MaDanToc		VARCHAR (6)		NOT NULL,
	MaTonGiao		VARCHAR (6)		NOT NULL,
	HoTenCha		NVARCHAR (30)	NOT NULL,
	MaNgheNghiepCha	VARCHAR (6)		NOT NULL,
	HoTenMe			NVARCHAR (30)	NOT NULL,
	MaNgheNghiepMe	VARCHAR (6)		NOT NULL,
	
	
	CONSTRAINT F_HS_DT	FOREIGN KEY(MaDanToc)		REFERENCES DANTOC(MaDanToc),
	CONSTRAINT F_HS_TG	FOREIGN KEY(MaTonGiao)		REFERENCES TONGIAO(MaTonGiao),
	CONSTRAINT F_HS_NNC	FOREIGN KEY(MaNgheNghiepCha)	REFERENCES NGHENGHIEP(MaNgheNghiep),
	CONSTRAINT F_HS_NNM	FOREIGN KEY(MaNgheNghiepMe)	REFERENCES NGHENGHIEP(MaNgheNghiep)
)

INSERT INTO HOCSINH VALUES('HS0001','Nguyen Van An',	'0','01/02/1992','Long An',	'DT0001','TG0005','A',	'NN0005','B',	'NN0002')


-------------------------------Lớp---------------------------------
CREATE TABLE LOP
(
	MaLop		VARCHAR (10)	NOT NULL	PRIMARY KEY,
	TenLop		NVARCHAR (30)	NOT NULL,
	MaKhoiLop	VARCHAR (6)		NOT NULL,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	SiSo		INT 			NOT NULL,
	MaGiaoVien	VARCHAR (6)		NOT NULL,
	
	-- (3 khoa ngoai)
	CONSTRAINT F_LOP_KL FOREIGN KEY(MaKhoiLop)	REFERENCES KHOILOP(MaKhoiLop),
	CONSTRAINT F_LOP_NH FOREIGN KEY(MaNamHoc)	REFERENCES NAMHOC(MaNamHoc),
	CONSTRAINT F_LOP_GV FOREIGN KEY(MaGiaoVien)	REFERENCES GIAOVIEN(MaGiaoVien)
)
INSERT INTO LOP VALUES('LOP1010708','10A1','K10','NH0708', 35,'GV0001')
INSERT INTO LOP VALUES('LOP1020708','10A2','K10','NH0708', 36,'GV0002')
INSERT INTO LOP VALUES('LOP1030708','10A3','K10','NH0708', 34,'GV0001')

---------------------------Phan Lop--------------------
CREATE TABLE PHANLOP
(
	MaNamHoc	VARCHAR (6)		NOT NULL,
	MaKhoiLop	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaHocSinh	VARCHAR (6)		NOT NULL,
	
	PRIMARY KEY(MaNamHoc, MaKhoiLop, MaLop, MaHocSinh),
	
	CONSTRAINT F_PL_NH		FOREIGN KEY(MaNamHoc)	REFERENCES NAMHOC(MaNamHoc),
	CONSTRAINT F_PL_KHOI	FOREIGN KEY(MaKhoiLop)	REFERENCES KHOILOP(MaKhoiLop),
	CONSTRAINT F_PL_LOP		FOREIGN KEY(MaLop)		REFERENCES LOP(MaLop),
	CONSTRAINT F_PL_HS		FOREIGN KEY(MaHocSinh)	REFERENCES HOCSINH(MaHocSinh)
)


--------------------------------------Phân công-----------------------------------
CREATE TABLE PHANCONG
(
	STT			INT				IDENTITY	PRIMARY KEY,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaMonHoc	VARCHAR (6)		NOT NULL,
	MaGiaoVien	VARCHAR (6)		NOT NULL,
	
	
	CONSTRAINT F_PC_NH	FOREIGN KEY(MaNamHoc)	REFERENCES NAMHOC(MaNamHoc),
	CONSTRAINT P_PC_LOP	FOREIGN KEY(MaLop)		REFERENCES LOP(MaLop),
	CONSTRAINT P_PC_MH	FOREIGN KEY(MaMonHoc)	REFERENCES MONHOC(MaMonHoc),
	CONSTRAINT P_PC_GV	FOREIGN KEY(MaGiaoVien)	REFERENCES GIAOVIEN(MaGiaoVien)
)



---------------------------------Loại Điểm---------------
CREATE TABLE LOAIDIEM
(
	MaLoaiDiem	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenLoaiDiem	NVARCHAR (30)	NOT NULL,
	HeSo		INT				NOT NULL
)

INSERT INTO LOAIDIEM VALUES('LD0001','Kiem tra mieng',	1)
INSERT INTO LOAIDIEM VALUES('LD0002','Kiem tra 15 phut',1)
INSERT INTO LOAIDIEM VALUES('LD0003','Kiem tra 1 tiet',	2)

----------------------------------Diem---------------------
CREATE TABLE DIEM
(
	STT			INT				IDENTITY	PRIMARY KEY,
	MaHocSinh	VARCHAR (6)		NOT NULL,
	MaMonHoc	VARCHAR (6)		NOT NULL,
	MaHocKy		VARCHAR (3)		NOT NULL,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaLoaiDiem	VARCHAR (6)		NOT NULL,
	Diem		FLOAT			NOT NULL,
	

	CONSTRAINT F_DIEM_HS	FOREIGN KEY(MaHocSinh)	REFERENCES HOCSINH(MaHocSinh),
	CONSTRAINT F_DIEM_MH	FOREIGN KEY(MaMonHoc)	REFERENCES MONHOC(MaMonHoc),
	CONSTRAINT F_DIEM_HK	FOREIGN KEY(MaHocKy)	REFERENCES HOCKY(MaHocKy),
	CONSTRAINT F_DIEM_NH	FOREIGN KEY(MaNamHoc)	REFERENCES NAMHOC(MaNamHoc),
	CONSTRAINT F_DIEM_LOP	FOREIGN KEY(MaLop)		REFERENCES LOP(MaLop),
	CONSTRAINT F_DIEM_LD	FOREIGN KEY(MaLoaiDiem)	REFERENCES LOAIDIEM(MaLoaiDiem)
)
-------------------------KQ học kỳ môn học---------------------
CREATE TABLE KQ_HOC_KY_MON_HOC
(
	MaHocSinh	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaMonHoc	VARCHAR (6)		NOT NULL,
	MaHocKy		VARCHAR (3)		NOT NULL,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	DTBKiemTra	FLOAT			NOT NULL,
	DTBMonHocKy	FLOAT			NOT NULL,	-- Cua tung mon
	
	PRIMARY KEY(MaHocSinh, MaLop, MaMonHoc, MaHocKy, MaNamHoc),
	
	
	CONSTRAINT F_KQHKMH_HS FOREIGN KEY(MaHocSinh)	REFERENCES HOCSINH(MaHocSinh),
	CONSTRAINT F_KQHKMH_LO FOREIGN KEY(MaLop)		REFERENCES LOP(MaLop),
	CONSTRAINT F_KQHKMH_MH FOREIGN KEY(MaMonHoc)	REFERENCES MONHOC(MaMonHoc),
	CONSTRAINT F_KQHKMH_HK FOREIGN KEY(MaHocKy)		REFERENCES HOCKY(MaHocKy),
	CONSTRAINT F_KQHKMH_NH FOREIGN KEY(MaNamHoc)	REFERENCES NAMHOC(MaNamHoc)
)

-----------------------------KQ cả năm môn học-------------------
CREATE TABLE KQ_CA_NAM_MON_HOC
(
	MaHocSinh	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaMonHoc	VARCHAR (6)		NOT NULL,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	DiemThiLai	FLOAT,
	DTBCaNam	FLOAT			NOT NULL,	-- Cua tung mon
	
	PRIMARY KEY(MaHocSinh, MaLop, MaMonHoc, MaNamHoc),
	
	CONSTRAINT F_KQCNMH_HS 	FOREIGN KEY(MaHocSinh)		REFERENCES HOCSINH(MaHocSinh),
	CONSTRAINT F_KQCNMH_LOP	FOREIGN KEY(MaLop)			REFERENCES LOP(MaLop),
	CONSTRAINT F_KQCNMH_MH 	FOREIGN KEY(MaMonHoc)		REFERENCES MONHOC(MaMonHoc),
	CONSTRAINT F_KQCNMH_NH	FOREIGN KEY(MaNamHoc)		REFERENCES NAMHOC(MaNamHoc)
)
-------------------------KQ học kỳ tổng hợp môn học-------------------
CREATE TABLE KQ_HOC_KY_TONG_HOP
(
	MaHocSinh	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaHocKy		VARCHAR (3)		NOT NULL,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	MaHocLuc	VARCHAR (6)		NOT NULL,
	MaHanhKiem	VARCHAR (6)		NOT NULL,
	DTBMonHocKy	FLOAT,						
	
	PRIMARY KEY(MaHocSinh, MaHocKy, MaLop, MaNamHoc),
	
	
	CONSTRAINT F_KQHK_HS	FOREIGN KEY(MaHocSinh)		REFERENCES HOCSINH(MaHocSinh),
	CONSTRAINT F_KQHK_LOP	FOREIGN KEY(MaLop)			REFERENCES LOP(MaLop),
	CONSTRAINT F_KQHK_HK	FOREIGN KEY(MaHocKy)		REFERENCES HOCKY(MaHocKy),
	CONSTRAINT F_KQHK_NH	FOREIGN KEY(MaNamHoc)		REFERENCES NAMHOC(MaNamHoc),
	CONSTRAINT F_KQHK_HL	FOREIGN KEY(MaHocLuc)		REFERENCES HOCLUC(MaHocLuc),
	CONSTRAINT F_KQHK_HKIEM	FOREIGN KEY(MaHanhKiem)		REFERENCES HANHKIEM(MaHanhKiem)
)
---------------------------Kq cả năm tổng hợp----------------------
CREATE TABLE KQ_CA_NAM_TONG_HOP
(
	MaHocSinh	VARCHAR (6)		NOT NULL,
	MaLop		VARCHAR (10)	NOT NULL,
	MaNamHoc	VARCHAR (6)		NOT NULL,
	MaHocLuc	VARCHAR (6)		NOT NULL,
	MaHanhKiem	VARCHAR (6)		NOT NULL,
	DTBCaNam	FLOAT			NOT NULL,	-- Cua tat ca cac mon
	MaKetQua	VARCHAR (6)		NOT NULL,
	
	PRIMARY KEY(MaHocSinh, MaLop, MaNamHoc),
	
	CONSTRAINT F_KQCN_HS	FOREIGN KEY(MaHocSinh)		REFERENCES HOCSINH(MaHocSinh),
	CONSTRAINT F_KQCN_LOP	FOREIGN KEY(MaLop)			REFERENCES LOP(MaLop),
	CONSTRAINT F_KQCN_NH	FOREIGN KEY(MaNamHoc)		REFERENCES NAMHOC(MaNamHoc),
	CONSTRAINT F_KQCN_HL	FOREIGN KEY(MaHocLuc)		REFERENCES HOCLUC(MaHocLuc),
	CONSTRAINT F_KQCN_HKIEM	FOREIGN KEY(MaHanhKiem)		REFERENCES HANHKIEM(MaHanhKiem),
	CONSTRAINT F_KQCN_KQ	FOREIGN KEY(MaKetQua)		REFERENCES KETQUA(MaKetQua)
)

---------------------------Quy định-----------------------------------
CREATE TABLE QUYDINH
(
	TuoiCanDuoi		INT		NOT NULL,
	TuoiCanTren		INT		NOT NULL,
	SiSoCanDuoi		INT		NOT NULL,
	SiSoCanTren		INT		NOT NULL,
	ThangDiem		INT		NOT NULL,	
)
